* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}
:root {
  --primary-section: #2a2828;
  --secondary-section: #ffffff;
}
body {
  background-color: var(--primary-section);
}
.darkmode {
  --primary-section: #ffffff;
  --secondary-section: #000000;
}
#icon {
  margin: 30%;
  margin-left: 40%;
  cursor: pointer;
}

.home {
  margin: 0%;
}

.main {
  display: flex;
  flex-direction: row;
}
.nav {
  padding-left: 5%;
  gap: 3rem;

  display: flex;
  position: fixed;
  /* display: inline; */
  flex-direction: row;
}
h1,
h2,
h4 {
  color: var(--secondary-section);
}

.nav-items li {
  overflow: hidden;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 60%;
}
.nav-items a {
  text-decoration: none;
  color: var(--secondary-section);
  font-weight: bold;
  text-transform: unset;
  box-sizing: border-box;
}
.nav-items a:hover {
  transition: 0.1s;
  background-color: yellow;
  color: black;
  outline: 10px solid rgb(255, 255, 8);
}
/* sidebar-section */

.main1 {
  height: 100vh;
  width: 100vw;
  margin-left: 300px;
}
.sidebar-line {
  height: 50rem;
  border-left: 6px solid var(--secondary-section);
  margin-left: 2rem;
}

.img-section {
  display: inline-flex;
}
.image {
  border-radius: 40px;
  background-repeat: no-repeat;
  height: 50vh;
  background-position: -77px -64px;
  width: 20vw;
  padding-left: 10%;
  margin-top: -20%;
  animation: zoomIn 2s ease-in-out infinite alternate;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
.main_title {
  margin-top: 20%;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.para-content {
  color: rgb(230, 63, 63);
}
.para {
  margin-top: 25px;
  margin-left: 35%;
  font-weight: bolder;
}
.typewriter p {
  color: var(--secondary-section);
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  /* margin: 0 auto; */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* project-section */

h2 {
  margin-top: 20%;
  text-align: center;
}
.project {
  margin-top: 25%;
}
.project-image {
  margin-top: 5%;
  margin-right: 20%;
}

.rounded {
  cursor: pointer;
  transition: transform 0.2s;
}
.text-end {
  cursor: pointer;
  transition: transform 0.3s;
}
.rounded:hover {
  transform: scale(1.1);
}
.text-end:hover {
  transform: scale(1.1);
}

/* Skills-section */

.--skills-- {
  margin-top: 15%;
}
.--skills-border {
  margin-top: 5%;
  outline: 2px solid var(--secondary-section);
  height: 60vh;
  width: 50%;
  margin-left: 15%;
  position: absolute;
}

.--progress-bar {
  margin-top: 13%;
  margin-left: 25%;
}

.progress-bar {
  animation: move 5s ease-in-out forwards;
}
@keyframes move {
  0% {
    width: 10%;
  }
  50% {
    width: 80%;
  }
  70% {
    width: 50%;
  }
}
.Edu-title{
  margin-right:30%;
}
.education{
  margin-top: 30%;
  text-align: center;
}

.card {
  margin-top: 5%;
}
